.nav_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1120px;
  height: 70px;
}

@media (max-width: 1919px) {
  .nav_bar {
    margin: 0 200px;
  }
}

.nav_logobox {
  display: flex;
  align-items: center;
}

.nav_title {
  font-size: 50px;
  font-family: "ROKAF Sans";
  font-weight: bold;
  font-size: 1.625rem;
  color: #3691ff;
  margin-left: 10px;
}

.nav_btnbox {
}

.nav_loginbtn {
  padding: 16px 40px;
  font-size: 1rem;
  font-family: "Pretendard";
  border-radius: 8px;
  border: none;
  color: white;
  background-color: #3691ff;
  cursor: pointer;
}

.main_banner {
  height: 540px;
  background-color: #cfe5ff;
  position: relative;
}

.banner_box {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 0;
}

.banner_title_box {
  font-family: "Pretendard";
}

.banner_title {
  color: #374151;
  font-weight: bold;
  font-size: 2.5rem;
  margin: 50px 0 40px 0;
}

.banner_btn {
  padding: 18px 125px;
  border: none;
  font-size: 1.25rem;
  color: white;
  background-color: #3691ff;
  white-space: nowrap;
  border-radius: 2.5rem;
  cursor: pointer;
}
